@charset "UTF-8";

.mainSiteMapWrap {
	margin-top: 30px;
	width: 100%;
	height: 700px;
	background-color: #ffffff;
}

.mainSiteMapContent{
	padding-top: 100px;
	width:70%;
}

/* 탭 메뉴 사이즈 조절 */
.nav-tabs li{
	width: 25%;
}
/* 탭 메뉴 폰트 */
.nav-tabs a{
	/* color: #FFC312; */
	color: rgba(238,179,0, 0.99);
}
/* 탭 메뉴 하버 이벤트 */
.nav-tabs > li > a:hover{
  color:black;
  background-color: rgba(238,179,0,0.5) !important;
}
/* 탭 메뉴 선택 시 설정 */
ul.nav a.active {
  color:black;
  background-color: rgba(238,179,0,0.8) !important;
  font-weight: 900;
}

/* 탭 내부 콘텐츠 */
.tab-pane{
	padding: 10px;
}
/* 전체 탭 설정 끝 */


/* 첫 번째 탭 레이아웃 설정 */
.titleSiteMapItem{
	width: 810px;
	height: 50px;
	/* background-color: rgba(238,179,0,0.8); */
	position: relative;
	top: 0px;
	left: 0px;
	padding: 10px;
}
.cmp1SiteMapItem{
	width: 500px;
	height: 305px;
	background-color: rgba(238,179,0,0.8);
	position: relative;
	top: 5px;
	left: -155px;
}
.cmp1SiteMapItem img{
	width: 500px;
	height: 305px;
}
.cmp1InnerSiteMapItem{
	
}

.cmp2SiteMapItem{
	width: 305px;
	height: 150px;
	background-color: rgba(2,179,0,0.8);
	position: relative;
	top: -300px;
	left: 252px;
}
.cmp3SiteMapItem{
	width: 305px;
	height: 150px;
	background-color: rgba(2,179,0,0.8);
	position: relative;
	top: -295px;
	left: 252px;
}
.cmp4SiteMapItem{
	width: 270px;
	height: 150px;
	background-color: rgba(120,19,0,0.8);
	position: relative;
	top: -290px;
	left: -270px;
}
.cmp5SiteMapItem{
	width: 270px;
	height: 150px;
	background-color: rgba(120,19,0,0.8);
	position: relative;
	top: -440px;
	left: 5px;
}
.cmp6SiteMapItem{
	width: 260px;
	height: 150px;
	background-color: rgba(120,19,0,0.8);
	position: relative;
	top: -590px;
	left: 275px;
}

/* 첫 번째 탭 레이아웃 설정 끝 */